.update-button {
    font-size: 18px;
    color: blue;
    text-decoration: none;
    padding: 5px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}